MaddisonData.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
inst/.gitignore
MaddisonCountries.rdb
MaddisonData.rdb
MaddisonSources.rdb
MaddisonYears.rdb
vignettes/TechLeaders.html
vignettes/NLD_SGP.svg
